.rulesButton {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  border: 2px solid var(--Dark-Text);
  padding: 0.5rem 2.5rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  border-radius: 0.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .rulesButton {
    right: 50%;
    transform: translateX(50%);
    bottom: 4rem;
  }
}
