.result {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-top: 4rem;
}

.result p {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.user,
.computer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.computer {
  animation: computerAni 1s;
}

@keyframes computerAni {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

.paper {
  border-color: hsl(230, 89%, 62%) !important;
  box-shadow: 0px 8px 0px hsl(230deg 89% 40%),
    inset 0px 8px 0px rgb(70 70 70 / 25%) !important ;
}
.scissors {
  border-color: hsl(39, 89%, 49%) !important;
  box-shadow: 0px 8px 0px hsl(40deg 84% 40%),
    inset 0px 8px 0px rgb(70 70 70 / 25%) !important ;
}
.rock {
  border-color: hsl(349, 71%, 52%) !important;
  box-shadow: 0px 8px 0px hsl(349deg 70% 35%),
    inset 0px 8px 0px rgb(70 70 70 / 25%) !important ;
}

.selected {
  border: 2rem solid transparent;
  border-radius: 50%;
  padding: 1.5rem;
  width: 17rem;
  height: 17rem;
  background-color: #fff;
  margin-top: 2rem;
}

.selected img {
  transform: scale(0.6);
}

.state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 14rem;
  font-weight: 700;
  animation: winnerState 1s ease-in-out;
}

@keyframes winnerState {
  0% {
    transform: rotate(90deg) scale(0);
  }
  80% {
    transform: rotate(-10deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
.state p {
  text-transform: uppercase;
  font-size: 3rem;
}

.state button {
  width: 100%;
  height: 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--Dark-Text);
  background-color: #fff;
  outline: none;
  border: 2px solid #555;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.5s;
}
.state button:active {
  transform: scale(0.8);
}

.winnerHeart::after {
  content: " ";
  width: 25rem;
  height: 25rem;
  background-color: hsla(228, 25%, 31%, 0.5);
  border: 70px solid hsl(229, 25%, 31%), 0.3;
  outline: 70px solid hsl(229, 25%, 31%, 0.15);
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  transform: translateY(4%);
  animation: winnerHeartAni 3s ease-out infinite;
}
@keyframes winnerHeartAni {
  0% {
    background-color: hsl(229, 25%, 31%, 0);
    border: 0px solid hsl(229, 25%, 31%, 0);
    outline: 0px solid hsl(229, 25%, 31%, 0);
  }
  80% {
    background-color: hsla(228, 25%, 31%, 0.5);
    border: 70px solid hsl(229, 25%, 31%), 0.3;
    outline: 70px solid hsl(229, 25%, 31%, 0.15);
  }
  100% {
    background-color: hsl(229, 25%, 31%, 0);
    border: 0px solid hsl(229, 25%, 31%, 0);
    outline: 0px solid hsl(229, 25%, 31%, 0);
  }
}

@media screen and (max-width: 768px) {
  .result {
    flex-wrap: wrap;
  }

  .computer,
  .user {
    width: 45%;
  }
  .computer > p,
  .user > p {
    font-size: 0.85rem;
    letter-spacing: 2px;
  }

  .selected {
    border: 1rem solid transparent;
    padding: 0.5rem;
    width: 8rem;
    height: 8rem;
    margin-top: 1.5rem;
  }
  .state {
    order: 5;
    margin-top: 1.5rem;
  }
  .state > p {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .winnerHeart::after {
    width: 12rem;
    height: 12rem;
  }
}
